h1{
    text-align: center;
}
.foto{
    width: 350px;
    height: 350px;
}

.contenedor{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.yo{
    padding-left: 10px;
}
